.commandments--box {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.german {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
    float: right;
    width: 50%;
}

.english {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
    box-sizing: border-box;
    float: left;
    width:50%;
}


.hero--ger {
    font-style: normal;
    font-weight: 800;
    line-height: 1em;
    color: #161F75;
}

.highlight-ger {
    background-color: #1FFF00;
}

.highlight-eng {
    background-color: #161F75;
}

.hero--eng {
    font-style: normal;
    font-weight: 800;
    line-height: 1em;
    color: #1FFF00;
}

.commandments {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 0.8em;
    color: #161F75;
}

.number {
    width: 1em;
    height: 1em;
    background: #1FFF00;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    font-size: 1.1em;
    line-height: 1.7px;
    text-align: center;

    color: #161F75;
}