.commandments--box {
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

.german {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
    float: right;
    max-width: 300px;
}

.english {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
    box-sizing: border-box;
    float: left;
    max-width: 300px;;
}


.hero--ger {
    font-style: normal;
    font-weight: 800;
    line-height: 1em;
    color: #161F75;
    white-space: nowrap;
}

.highlight-ger {
    background-color: #1FFF00;
}

.highlight-eng {
    background-color: #161F75;
}

.hero--eng {
    font-style: normal;
    font-weight: 800;
    line-height: 1em;
    color: #1FFF00;
    white-space: nowrap;
}

.commandments {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.3em;
    color: #161F75;
}
