.content {
    display: flex;
    justify-content: center;
}

.german {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1em;
}

.english {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
}

.hero--ger {
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1em;
    color: #161F75;
}

.highlight-ger {
    background-color: #1FFF00;
}

.highlight-eng {
    background-color: #161F75;
}

.hero--eng {
    font-style: normal;
    font-weight: 800;
    font-size: 1.3em;
    line-height: 1em;
    color: #1FFF00;
}

.context {
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 16px;
    color: #161F75;
}

.commandments {
    font-style: normal;
    font-weight: 500;
    font-size: 0.7em;
    line-height: 13px;
    color: #161F75;
}