.content {
    display: flex;
    justify-content: center;
}

.german {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1em;
}

.english {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
}

.hero--ger {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: #161F75;
}

.hero--eng {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    color: #1FFF00;
}

.context {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #161F75;
}

.commandments {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #161F75;
}