.content {
    display: flex;
    justify-content: center;
}

.german {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1em;
}

.english {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1em;
}

/* .content {
    width: 80%;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero--ger {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.hero--eng {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.context {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.context--ger {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    padding: 10px;
}

.context--eng {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding: 10px;
}


.commandments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.commandments--ger {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    padding: 10px;
} */