.footer-top {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #161F75;
}

.footer-bottom {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #161F75;
}