header {
    height: 170px;
    position: relative;
}

.header--img {
    height: 130px;
    width: 130px;
    margin-top: 20px;
    align-self: center;
}

.header--handwritten {
    width: 136.82px;
    height: 40.49px;
    transform: rotate(-7deg);
    position: absolute;
    bottom: 20px;
}